{% extends "base.html" %}

{% block title %}
Current Job Openings
{% endblock %}

{% block header %}
Current Job Openings
{% endblock %}

{% block content %}
            <h3>Join Our Team at Parenting.c0m</h3>
            
            <p>
                Are you passionate about supporting parents and families? Do you want to make a positive 
                impact in the lives of new and experienced parents alike? If so,
                 we invite you to explore career opportunities with us at Parenting.c0m.
            </p>
            <h3>Why Work With Us?</h3>
            <p>
                At Parenting.c0m, we believe in creating a supportive and 
                inclusive environment where our team members can thrive. We are dedicated to providing 
                valuable resources, advice, and community support to parents at every stage of
                 their journey. Here’s why you should consider joining our team:
            </p>
            
    
<div class="career-page">
    <h1>Current Job Openings</h1>
    <ul class="list-group">
        {% for job in jobs %}
            <li class="list-group-item">
                <h2>{{ job.title }}</h2>
                <p>{{ job.description }}</p>
                <p><strong>Location:</strong> {{ job.location }}</p>
                <p><strong>Salary:</strong> {{ job.salary }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


